/* index.css */
body {background-color: beige;}
main {
    margin:0 auto;
    background-image:url(../images/bg.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    width:402px; min-height:874px;
    position:relative;
}
main .title {
    padding-top:150px;
    text-align:center;
}
main .title p {
    font-size:0.75em;
    margin-bottom:8px;
}
main .title h1 {
    font-size:1.5em;
    font-weight:600;
}
main .title h1 em {
    font-weight:700;
}
main .write_btn {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    position:absolute;
    left:51px; top:391px; 
    gap:6px;
}
main .write_btn #num {
    border:1px solid #000;
    background-color:#fff;
    width:300px; height:42px;
    border-radius:8px;
    text-align:center;
}
main .write_btn #num:focus {
    border: 2px solid red;
}
main .write_btn #flower_btn {
    background-color:#000;
    color:#fff;
    font-weight:600;
    width:300px; height:42px;
    border-radius:8px;
}
main .popup {
    width:324px; height:256px;
    background-color:#fff;
    border-radius:30px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    gap:30px;
    position:absolute;
    left:10%; top:35%;
    z-index:80;
}
main .popup p {
    font-weight:0.875em;
}
main .popup .mean {}
main .popup .result {
    background-color:#868686;
    border-radius:10px;
    line-height: 1.5em;
    width:180px; height:54px;
    font-weight:1.125em;
    color:#fff;
    text-align:center;
}
main .popup .result em {
    font-weight:600;
    color:#fff;
}
main #popup_bg {
    background-color:rgba(0,0,0,0.3);
    width:402px; min-height:874px;
    position:absolute;
    left:0; top:0;
    z-index:50;
}